body {
    background-color: #f2f9fe;
}

.big-button {
    display: block;
    cursor: pointer;
    color: #ffffff;
    font-family: Arial, sans-serif;
    font-size: 25px;
    padding: 21px 66px;
    text-decoration: none;
    border-radius: 5px;
}

.big-button:active:not(.disabled) {
    position: relative;
    top: 1px;
}

#install-files:not(.disabled) {
    background-color: #4C9A2A;
}

#install-files:hover:not(.disabled) {
    background-color: #76BA1B;
}

#launch-game:not(.disabled) {
    background-color: #1261A0;
}

#launch-game:hover:not(.disabled) {
    background-color: #3895D3;
}

p.button-row {
    text-align: center;
}

a.disabled {
    background-color: gray;
}
