doctype html
head
    meta(charset='UTF-8')
    title Fractured Bootlegger
    link(rel='stylesheet' type='text/css' href='launcher.css')
body
    p.button-row
        a#install-files.big-button(href='#') 1. Install Files
    p.button-row
        a#launch-game.big-button(href='#') 2. Launch Game
    script(src='launchRenderer.js')