doctype html
head
    meta(charset='UTF-8')
    title Fractured Bootlegger Updater
    link(rel='stylesheet' type='text/css' href='css/updater.css')
body
    h1 Checking for updates
    h3 ...
    script(src='js/updateRenderer.js')