- user = typeof(udata) != 'undefined' ? udata : { }
input(type='hidden', value= user._id)#userId

#account-form-container.center-vertical
    - var url = 'https://doublecolossus.com/' + (creation ? 'register': 'home')
    form.card.card-body.bg-light(method='post', action= url)#account-form
        h2
        h6#sub Please tell us a little about yourself.
        hr
        .form-group.row
            label.col-sm-3.col-form-label.col-form-label-sm Email
            .col-sm-9
                input.form-control#email-tf(type='email', name='email', value= user.email, disabled= !creation)
        .form-group.row
            label.col-sm-3.col-form-label.col-form-label-sm Username
            .col-sm-9
                input.form-control#user-tf(type='text', name='user', value= user.user)
        .form-group.row.margin-zero
            label.col-sm-3.col-form-label.col-form-label-sm Password
            .col-sm-9
                input.form-control#pass-tf(type='password', name='pass', value='')
        hr
        .form-buttons
            button(type='button')#account-form-btn1.btn.btn-outline-dark
            button(type='submit')#account-form-btn2.btn.btn-primary

include modals/form-errors
